NODE_ENV=development
SERVER_PORT=3000
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASS=
DB_PORT=

SESSION_SECRET=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_OTP_EXPIRES_IN=600

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

NODEMAILER_URL=example@gmail.com
NODEMAILER_APP_PASSWORD=

UPLOAD_URL=./uploads
FRONTEND_URL=localhost:3000/